/* glabal   */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: .7s;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    background: #fafafa;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
}

._container {
    max-width: 1110px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}


/*   -------------------------------------------------------------   */

.header {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header__block {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block .logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header__block .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__block .nav ul li {
    margin-right: 50px;
}

.header__block .nav ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1f2e35cc;
}

.header__block .log-out ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__block .log-out ul li {
    margin-right: 24px;
}

.header .menu input {
    display: none;
}

.header .menu label i {
    display: none;
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 60px;
}


/* ---------------------------------------------------- */

.main .block-1 {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .block-1 .hBlock {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .block-1 .hBlock .block-1__text {
    width: 50%;
}

.main .block-1 .hBlock .block-1__text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #1F2E35;
    margin-bottom: 24px;
}

.main .block-1 .hBlock .block-1__text h1 span {
    color: #EE4248;
}

.main .block-1 .hBlock .block-1__text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
    margin-bottom: 24px;
}

.main .block-1 .hBlock .block-1__text button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    cursor: pointer;
}

.main .block-1 .hBlock .block-1__img {
    width: 50%;
}

.main .block-1 .hBlock .block-1__img img {
    width: 100%;
    height: 100%;
}


/* ------------------------ media ------------------------- */

@media(max-width:900px) {
    .header {
        height: 70px;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }
    .header__block {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__block .logo img {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .header__block .nav ul li {
        margin-right: 20px;
    }
    .header__block .log-out ul li {
        margin-right: 14px;
    }
    /* ---------------------------------------------------- */
    .main .block-1 .hBlock .block-1__text {
        width: 50%;
    }
    .main .block-1 .hBlock .block-1__text h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 120%;
        color: #1F2E35;
        margin-bottom: 24px;
    }
    .main .block-1 .hBlock .block-1__text h1 span {
        color: #EE4248;
    }
    .main .block-1 .hBlock .block-1__text p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #30444E;
        margin-bottom: 24px;
    }
    .main .block-1 .hBlock .block-1__text button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        background: #EE4248;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 10px 30px;
        cursor: pointer;
    }
    .main .block-1 .hBlock .block-1__img {
        width: 50%;
    }
    .main .block-1 .hBlock .block-1__img img {
        width: 100%;
        height: 100%;
    }
    /* ---------------------------------------------------- */
}

@media(max-width:650px) {
    .header__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .header__block .nav {
        position: relative;
        left: -100%;
    }
    .header__block .log-out {
        position: relative;
        left: -100%;
    }
    .header__block .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
    }
    .header__block .nav ul li {
        margin-bottom: 20px;
        float: right;
    }
    .header .menu label #menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 0px;
        font-size: 60px;
    }
    .header .menu #chek:checked~label #menu {
        display: none;
    }
    .header .menu #chek:checked~label #menu-x {
        display: block;
    }
    #chek:checked~.log-out {
        left: 0;
    }
    #chek:checked~.nav {
        left: 0;
    }
    /* ---------------------------------------------------- */
    .main .block-1 .hBlock {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .main .block-1 .hBlock .block-1__text {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .main .block-1 .hBlock .block-1__text h1 {
        text-align: center;
        margin-top: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 133.69%;
        text-align: center;
        color: #1F2E35;
        width: 373px;
    }
    .main .block-1 .hBlock .block-1__text p {
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #30444E;
    }
    .main .block-1 .hBlock .block-1__img {
        width: 80%;
    }
    .main .block-1 .hBlock .block-1__img img {
        /* margin-top: 50px; */
        padding-top: 80px;
    }
}

@media(max-width:411px) {
    ._container {
        max-width: 361px;
        margin: 0px auto;
        box-sizing: content-box;
        position: relative;
    }
    .main .block-1 .hBlock .block-1__text {
        width: 100%;
    }
    .main .block-1 .hBlock .block-1__text h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 133.69%;
        text-align: center;
        color: #1F2E35;
        width: 373px;
    }
    .main .block-1 .hBlock .block-1__text p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #30444E;
    }
}